.preview {
  position: relative;
}
.preview_close {
  position: absolute;
  top: 0;
  margin: 5px;
  /* font-size: 18px !important; */
  cursor: pointer;
  color: white;
}
.preview_toolbarRight {
  color: white;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.preview_toolbarRight > .MuiSvgIcon-root {
  font-size: 20px !important;
  margin-bottom: 8px;
  cursor: pointer;
}
.preview_footer {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
  right: -25px;
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 7px;
  cursor: pointer;
}
.preview_footer > h2 {
  margin-right: 3px;
  font-size: 8px;
}
.preview_sendIcon {
  font-size: 10px !important;
}
